*{
	padding:0;
	margin:0;
}

/*body{
	background: #202020;
	font-size:14px;
	font-family: arial;
}*/

body {
     background-color: #000000;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     opacity: 0.5;
 }

 .logo{
margin-top: 150px;
 }
 p{

	 position:relative;
	font-size: 200px;
	font-family: 'Merriweather', serif;

  color: #ffffff;
   margin:auto;
   text-align:center;
 }
 a{
   position: relative;
    text-decoration:none;
    border-width:5px;
    border-style:double;
    margin:auto;
    text-align:center;
    border-color:#ffffff;
    color: #ffffff;
    padding:20px;
    width:150px;
    border-radius: 5px;
    z-index:1;
    font-size: 28px;
    font-family:"華康行書體";
 }

 a:hover{

   border-color:#000000;
   color: #000000;
   background-color: #efefef;
 }

 .button1{

	   margin:auto;
		 margin-top: 30px;
		 margin-left: -240px;
    text-align:center;
 }
 .button2{
	 margin:auto;
	 margin-top: -32px;
	margin-left: 230px;;
	text-align:center;
 }

/*#logo{
	margin: 20px 0px;
	background: url('../images/logo.png');
	width: 250px;
	height: 57px;
}

h2{
	clear:both;
	padding-top:20px;
}*/

.main{
	position:relative;
	margin: 20px auto;
	margin-top: 150px;
	max-width: 1190px;
	min-width:300px;
	-webkit-transition-duration:0.6s;
	-moz-transition-duration:0.6s;
	-ms-transition-duration:0.6s;
	-o-transition-duration:0.6s;
	transition-duration:0.6s;
	opacity: .7;
	padding: 20px;
	border-radius: 8px;
	background: #202020;
	color: #CCC;
	box-shadow: 0px 0px 20px #ccc;
}
