/* --------------------------------------
   公設
   -------------------------------------- */

body{
width:100%;
margin:0;
padding:0;
}

.container-fluid{
padding: 0px;
}

li{
  list-style: none;
}

.line{
border-left: solid;
border-left-width: 2px;
padding-left: 5px;
padding-right: 5px;
}

.k:hover{
  text-decoration: none;
color: #fff000;

}

.row{

  margin: 0px;
}


/* --------------------------------------
   row-1
   -------------------------------------- */

   .row-1{
     width: 100%;
   margin-top: 80px;

   }

   .row-1 img{
   margin-bottom: 20px;
     margin-left:80px;
   }

   .swe{
   background-color: #efefef;
   }

   /* --------------------------------------
      row1
      -------------------------------------- */

.row1{
  margin: auto;
background-color: #7f7f7f;
text-align: center;
width:100%;
padding-top: 12px;
padding-bottom: 2px;

}

.row1 a{
  font-family: "華康行書體";
  color: #ffffff;
  font-size: 26px;
  text-decoration: none;
}


/* --------------------------------------
   Carousel row2
   -------------------------------------- */

#myCarousel {
     font-size: 1rem;
     width: 100%;
   }

   .carousel-caption {
     font-size: 1.5em;
   }

   .carousel-caption h4 {
     font-size: 2em;
   }

   #myCarousel .item {height: 400px; }

   #slide1 {
     background: url('../images/輪播1_L.png')  no-repeat;
     background-size: cover;

   }

   #slide2 {
     background: url('../images/輪播2_L.png') no-repeat;
      background-size: cover;
   }

   #slide3 {
     background: url('../images/輪播3_L.png')no-repeat;
      background-size: cover;
   }


.row2{
  margin: auto;
   width: 100%;
}

/* --------------------------------------
   Row3
   -------------------------------------- */
.row3{
  margin: auto;
  text-align: center;
  background-color: #7f7f7f;
  padding-top: 12px;
  padding-bottom: 2px;
  width: 100%;
  width: 1000px;
  box-shadow:4px 4px 3px rgba(20%,20%,40%,0.3);
}
.row3 a{
  font-family: "華康行書體";
  color: #ffffff;
  font-size: 26px;
  text-decoration: none;

}

/* --------------------------------------
   row4
   -------------------------------------- */

.row4{
  padding-top: 40px;
text-decoration: none;
margin-top: 30px;
background-color: #464646;
padding-bottom: 20px;
padding-bottom: 50px;
  box-shadow:4px 4px 3px rgba(20%,20%,40%,0.3);
}



.row4 a{
color: #ffffff;
text-align: center;
font-size: 14px;　
}

.row4 p{
  position: absolute;
margin-left: 270px;
color: #ffffff;
font-size: 42px;
font-family: "華康行書體";
}

.line3{

  display: none;
  border-bottom: solid;
  border-bottom-width: 2px;
  border-color: #ffffff;
  margin-bottom: 20px;
  width:100%;
}

.qq{

  margin-left: 200px;
}

.mn1{
  display: none;
  position: absolute;
  font-family: "華康行書體";
  font-size: 36px;
  color: #ffffff;
  margin-left: 110px;
  text-decoration: none;
}

.line1{
border-bottom: solid;
border-bottom-width: 2px;
border-color: #ffffff;
margin-left:270px;
width:1000px;

}
.swi{
  margin-left: 260px;
  width: 1000px;
  text-align: center;
  border-radius: 3px;
}
.swi a{
font-family: "華康行書體";
font-size: 24px;
text-decoration: none;
}

.news1{
 background-color: #464646;
 font-family: "微軟正黑體";
 margin-top: 20px;

}
.news1 a {
  margin-left: 210px;
  text-decoration: none;
}
.news2{
  margin-top: 20px;
  padding-bottom: 60px;
 font-family: "微軟正黑體";
 background-color: #464646;
}
.news2 a {
margin-right: 1px;
text-decoration: none;
}

.button a{
  position: absolute;
  font-family: "微軟正黑體";
  padding: 7px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 3px;
  margin-left: 1160px;
  margin-top: -60px;
  font-size: 14px;
  color: #ffffff;
  border: solid 2px #ffffff;
  text-decoration: none;
}

.button :hover{
  color: #fff000;
  border: solid 2px #fff000;
  text-decoration: none;
}

.button3{
  display: none;
  position: absolute;
  margin-left: 180px;
  width: 100px;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  color: #ffffff;
  border-color: #ffffff;
  text-decoration: none;
}

.button3 a:hover{
    color: #fff000;
    border-color: #fff000;
    text-decoration: none;

  }
.button3:hover{
    color: #fff000;
    border-color: #fff000;
    text-decoration: none;
}
/* --------------------------------------
   row5
   -------------------------------------- */
.row5{
  margin-top: 30px;
  height: 480px;
  background-image: url("../pic/校園事件背景.png");
  background-color: #efefef;
  background-repeat: no-repeat;
  background-size: cover;
    box-shadow:4px 4px 3px rgba(20%,20%,40%,0.3);
  /*width: 100%;*/
}

.line4{

  display: none;
  border-bottom: solid;
  border-bottom-width: 2px;
  border-color: #ffffff;
  margin-bottom: 80px;
  width:100%;
}


.row5 p{
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 270px;
  color: #ffffff;
  font-size: 42px;
  font-family: "華康行書體";
}

.mn2{
  display: none;
  position: absolute;
  font-family: "華康行書體";
  font-size: 24px;
  margin:auto;
  text-align: center;
  padding-bottom: 20px;
  color: #ffffff;
  text-decoration: none;
}

.row5 img{

    box-shadow:4px 4px 3px rgba(0,0,0,0.5);
}

.button1 :hover{
  color: #ffffff;
  border: solid 2px #ffffff;
  text-decoration: none;
}
.button1 a{
  font-family: "微軟正黑體";
  padding: 7px;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: -80px;
  border-radius: 3px;
  margin-left: 1160px;
  font-size: 14px;
  color: #000000;
  border: solid 2px #000000;
  text-decoration: none;
}

.button4{
  display: none;
  position: absolute;
  margin-left: 180px;
  width: 100px;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  color: #ffffff;
  border-color: #ffffff;
  text-decoration: none;
  margin-top: -60px;
}
.button4 a{
  color: #ffffff;
}
.button4 a:hover{
    color: #fff000;
    border-color: #fff000;
    text-decoration: none;

  }
.button4:hover{
    color: #fff000;
    border-color: #fff000;
    text-decoration: none;
}

.slider {
      width: 50%;
      margin: 100px auto;

  }

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
    border-radius: 5px;
    border: solid 2px #7f7f7f;
    z-index: -20;
  }

  .slick-prev:before,
  .slick-next:before {
      color: black;
  }

  .slider a{
    text-decoration: none;
    border-radius: 3px;
    padding-left: 51px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    position:absolute;
    margin: auto;
    margin-top: 250px;
    text-align: center;
    font-size: 14px;
    background-color: #7f7f7f;
    z-index:1;
    color: #ffffff;
  }

  .slider a:hover{
    color: #fff000;
    text-decoration: none;
  }

  .slider .pic01:hover{
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
      opacity: 0.9;
  }

  .slider .pic02:hover{
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
      opacity: 0.9;
  }
  .slider .pic03:hover{
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
      opacity: 0.9;
  }
  .slider img:hover{
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    opacity: 0.5;
    z-index: -20;
  }



  /* --------------------------------------
     row6
     -------------------------------------- */

  .row6{
    background-color: #7f7f7f;
  padding-bottom: 10px;
  padding-top: 20px;
  margin-top: 30px;
  width: 100%;

  }

  .row6 img{
  background-color: #7f7f7f;
  margin-left: 260px;
    width: 120px;
    height: 120px;

  }

  .fp{

  }

  .fl{
      color: #ffffff;
      font-size: 18px;
      margin-top: 20px;
  }
